#ignore patters

optics/LHRS/*_C*
optics/LHRS/*so
optics/LHRS/text_cuts/*dat*
optics/LHRS/sieve_csv/*csv*

optics/LHRS/opt_output/*txt*
optics/LHRS/opt_output/*db*
optics/LHRS/opt_output/*dat*

optics/LHRS/correlations/test*
optics/LHRS/correlations/loader*
optics/LHRS/correlations/*_C*
optics/LHRS/correlations/*_c*
optics/LHRS/correlations/*~
optics/LHRS/correlations/*db*
optics/LHRS/correlations/*dat*
optics/LHRS/correlations/DB/*
optics/LHRS/correlations/*bk*
optics/LHRS/correlations/*.d
optics/LHRS/correlations/*_save
optics/LHRS/correlations/*~


optics/LHRS/checking_scripts/*pdf
optics/LHRS/checking_scripts/*~

optics/LHRS/Cuts_Sieve/*cut*

optics/LHRS/Tree2Ascii/text_cuts/*


optics/LHRS/opt/opt_output/*
optics/LHRS/opt/*~
optics/LHRS/opt/*_C*
optics/LHRS/opt/*d




optics/LHRS/Record/*

optics/LHRS/Event_selection/Cuts_Sieve/*
optics/LHRS/Event_selection/sieve_csv/*
optics/LHRS/Event_selection/*~
optics/LHRS/Event_selection/*so
optics/LHRS/Event_selection/*.d

optics/LHRS/analysis/checking_scripts/vertex_results/*
optics/LHRS/analysis/checking_scripts/*~


optics/LHRS/opt_new/rms_csv/*
optics/LHRS/opt_new/DB/*
optics/LHRS/opt_new/*_C*


Calibrations/*txt
Calibrations/*pdf
Calibrations/*dat
Calibrations/PID/plots/Cherenkov_scan.png


*_C*
*.d
*.so
*~


